<template>
  <div>
      <div class="topnav">
      <a class="active">Home</a>
      <button @click="logout" style="float: right; padding: 15px;background-color: #008001;color: white;border: none; ">Logout</button>
    </div>
    <div class="home">
    <vue-good-table
  :columns="columns"
  :rows="rows"
  :search-options="{
    enabled: true
  }">
</vue-good-table>
    </div>
  </div>
</template>

<script>
import connection from "@/vuex";
import Vue from 'vue';
Vue.use(require('vue-moment'));
export default {
  name: 'home',
  components: {
   
  },
  data(){
    return {
      columns: [
        {
          label: 'Session ID',
          field: 'session_id',
        },
        {
          label: 'User ID',
          field: 'user_id',
        },
        {
          label: 'Created On',
          field: 'created_date',
          formatFn: this.formatDate,
        },
        {
          label: 'Status',
          field: 'status',
        },
      ],
      rows: []
    }
  },
  created(){
                
                connection.get('sessions/' + localStorage.getItem('user_id')).then((response) => {
                    Vue.notify({title:'Users Data', text:response.data.message, type:'success' })
                    this.rows = response.data.data
                }).catch((e) => {
                    this.loading= ''
                  Vue.notify({title:'Error', text:e.response.data.message, type:'warn'})
                    console.error(e)
                    
                 })
  },
  methods: {
       formartDate(date) {
            return moment(date).format('Do MMMM  YYYY');
            },
            logout(){
              localStorage.clear();
              this.$router.push({ path: "/" })
            }
    

  },
}
</script>
<style>
.home{
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #008001;
  color: white;
}
</style>