<template>
  <clip-loader :loading=False :color="color" :size="size"></clip-loader>
</template>

<script>
import clipLoader from 'vue-spinner/src/ClipLoader';

export default {
  name: 'v-loading',
  data() {
    return {
      color: '#04889A',
      size: '3px'
    };
  },
  components: {
    clipLoader,
  },
};

</script>
